.container {
        border-radius: 15px;
        margin-top: 7%;
        /* margin-bottom: 30%; */
        flex: 0 0 50%;
        max-width: 50%;
        /* width: 95%; */
        width: 530px;
        box-shadow: 2px 4px 8px 2px rgb(0 0 0 / 20%);
        padding: 60px;
    }
    .login-logo{
        display: flex;
        justify-content : center;
    }
    .logo-img {
        text-align: center;
        height: 50px;
        width: 250px;
        margin-bottom: 2rem;
    }
    .login-btn{
        justify-content: space-between;
        display: flex;
    }